# Local Configs
.DS_Store
Thumbs.db

# XAMPP / Temp files
error_log
php_errors.log

# Uploads (Optional: keep them if you want your gallery images on GitHub)
# assets/proj_*

# Database Config (KEEP config.php HIDDEN, but allow db.php)
config.php
