# Local Configs
.DS_Store
Thumbs.db

# XAMPP / Temp files
error_log
php_errors.log

# Uploads (Optional: keep them if you want your gallery images on GitHub)
# assets/proj_*

# Database Config (IMPORTANT: If db.php has passwords, don't share it!)
# db.php
